<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lkmSoft.guideforlinkedin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:versionCode="2"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity4new"></activity>
        <activity android:name=".activity12" />
        <activity android:name=".activity11" />
        <activity android:name=".activity10" />
        <activity android:name=".activity9" />
        <activity android:name=".activity8" />
        <activity android:name=".activity7" />
        <activity android:name=".activity6" />
        <activity android:name=".activity5" />
        <activity android:name=".activity3" />
        <activity android:name=".activity2" />
        <activity android:name=".activity1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>